[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
httpie = "*"
isort = "*"
coverage = "*"
black = "==19.10b0"
codecov = "*"
pudb = "*"
freezegun = "*"

[packages]
django = "*"
whitenoise = "*"
dj-database-url = "*"
dynaconf = {extras = ["yaml"],version = "*"}
psycopg2-binary = "*"
jinja2 = "*"
delorean = "*"
djangorestframework = "*"
celery = {extras = ["redis"],version = "*"}
sentry-sdk = "*"
requests = "*"
gunicorn = "*"
uvicorn = "*"
boto3 = "*"
django-storages = "*"
uvloop = "*"
httptools = "*"
