[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==20.8b1"
codecov = "*"
coverage = "*"
freezegun = "*"
httpie = "*"
isort = "*"
pillow = "*"
pudb = "*"

[packages]
boto3 = "*"
celery = {extras = ["redis"],version = "*"}
delorean = "*"
dj-database-url = "*"
django = "*"
django-storages = "*"
djangorestframework = "*"
dynaconf = {extras = ["yaml"],version = "*"}
gunicorn = "*"
httptools = "*"
jinja2 = "*"
psycopg2-binary = "*"
requests = "*"
sentry-sdk = "*"
uvicorn = "*"
uvloop = "*"
whitenoise = "*"
