{% extends "base.html" %}

{% block head %}Onboarding{% endblock %}

{% block body %}

    <article>
        <h2>Actions</h2>
        <p>Hello! If you have an account, please, login.</p>
<div class="bottom-container">
  <div class="row">
    <div class="col">
      <li><a href="{{ url('onboarding:sign_in') }}" class="btn">SignIn</a></li>

    </div>
        <p>Or you can create an account right now)</p>
    <div class="col">
      <li><a href="{{ url('onboarding:sign_up') }}" class="btn">SignUp</a></li>
    </div>
  </div>
</div>

    </article>

{% endblock %}