{% extends "base.html" %}


{% block body %}

<h1>Your personal service book</h1>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
<table>
  <tr>
    <th>Date</th>
    <th>Mileage</th>
    <th>Type of work</th>
    <th>Cost, BYN</th>
    <th>Service station</th>
    <th>Comment</th>
  </tr>
  {% for work in object_list %}
      <tr>
          <td>{{ work.date }}</td>
          <td>{{ work.mileage }}</td>
          <td>{{ work.type }}</td>
          <td>{{ work.cost }}</td>
            {% if work.station %}
                {% for station in work.station.all() %}
                <td>{{ station.name}}</td>
                {% endfor %}
            {% endif %}
          <td>{{ work.comment }}</td>
      </tr>
  {% endfor %}

</table>

{% endblock %}

