{% extends "base.html" %}

{% block title %} Education {% endblock %}

{% block body %}

<article>
        {% for education in object_list %}

            <section>
                <h3>from {{ education.started_at }} till {{ education.finished_at }}: in {{ education.name }}</h3>
                <p>{{ education.summary }}</p>

                    {% if education.degree %}
                        <p>Degree:</p>
                        <ul>
                            {% for degree in education.degree.all() %}
                            <li>{{ degree.name }}</li>
                            <p>Description</p>
                            <li>{{ degree.description }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    {% if education.skills.count() %}

                                <h4>Skills:</h4>

                                <ul>
                                {% for skills in education.skills.all() %}
                                    <li>{{ skills.name }}</li>
                                {% endfor %}
                                </ul>

                    {% endif %}
            </section>

        {% endfor %}

</article>
{% endblock %}