{% extends "base.html" %}

{% block title %} Education {% endblock %}

{% block body %}

<article>
        {% for education in object_list %}

            <section>
                <h3>from {{ education.started_at }} till {{ education.finished_at }}: in {{ education.name }}</h3>
                <p>{{ education.summary }}</p>

                <p>Degree:</p>
                <ul>
                    {% for degree in education.degree.all %}
                        <li>{{ degree.name }}</li>
                            <p>Description</p>
                            <li>{{ degree.description }}</li>
                    {% endfor %}

                    {% if degree.skills.count %}

                                <h4>Skills:</h4>

                                <ul>
                                {% for skills in degree.skills.all %}
                                    <li>{{ skills }}</li>
                                {% endfor %}
                                </ul>

                    {% endif %}

                </ul>
            </section>

        {% endfor %}

</article>
{% endblock %}